.content.svelte-tsbvfd h1{font-size:2.2em;font-weight:bold;text-align:center;padding:2em}.content.svelte-tsbvfd h2{font-size:1.8em;font-weight:bold}.content.svelte-tsbvfd h3{font-size:1.4em;font-weight:bold}.content.svelte-tsbvfd p{font-size:1.3em}.content.svelte-tsbvfd ul{line-height:1.5}.content.svelte-tsbvfd li{margin:0 0 0.5em 0}.div.svelte-tsbvfd{background-image:linear-gradient(
        12deg,
        rgba(193, 193, 193, 0.05) 0%,
        rgba(193, 193, 193, 0.05) 2%,
        rgba(129, 129, 129, 0.05) 2%,
        rgba(129, 129, 129, 0.05) 27%,
        rgba(185, 185, 185, 0.05) 27%,
        rgba(185, 185, 185, 0.05) 66%,
        rgba(83, 83, 83, 0.05) 66%,
        rgba(83, 83, 83, 0.05) 100%
      ),
      linear-gradient(
        321deg,
        rgba(240, 240, 240, 0.05) 0%,
        rgba(240, 240, 240, 0.05) 13%,
        rgba(231, 231, 231, 0.05) 13%,
        rgba(231, 231, 231, 0.05) 34%,
        rgba(139, 139, 139, 0.05) 34%,
        rgba(139, 139, 139, 0.05) 71%,
        rgba(112, 112, 112, 0.05) 71%,
        rgba(112, 112, 112, 0.05) 100%
      ),
      linear-gradient(
        236deg,
        rgba(189, 189, 189, 0.05) 0%,
        rgba(189, 189, 189, 0.05) 47%,
        rgba(138, 138, 138, 0.05) 47%,
        rgba(138, 138, 138, 0.05) 58%,
        rgba(108, 108, 108, 0.05) 58%,
        rgba(108, 108, 108, 0.05) 85%,
        rgba(143, 143, 143, 0.05) 85%,
        rgba(143, 143, 143, 0.05) 100%
      ),
      linear-gradient(
        96deg,
        rgba(53, 53, 53, 0.05) 0%,
        rgba(53, 53, 53, 0.05) 53%,
        rgba(44, 44, 44, 0.05) 53%,
        rgba(44, 44, 44, 0.05) 82%,
        rgba(77, 77, 77, 0.05) 82%,
        rgba(77, 77, 77, 0.05) 98%,
        rgba(8, 8, 8, 0.05) 98%,
        rgba(8, 8, 8, 0.05) 100%
      ),
      linear-gradient(334deg, hsl(247, 0%, 2%), hsl(247, 0%, 2%));padding:1em}article.svelte-tsbvfd{text-align:left;font-size:1em;border-top:1px solid black;border-bottom:1px solid black}a.svelte-tsbvfd{background-color:#c2c2c2;width:200px;margin:2em;padding:0.7em;border:1px solid rgba(108, 108, 108, 0.05);border-radius:2em;background-color:rgba(231, 231, 231, 0.05);text-align:center;text-decoration:none}a.svelte-tsbvfd:hover{border:1px solid #cdcdcd}.twitter.svelte-tsbvfd{display:flex;padding-top:15px;justify-content:center}aside.svelte-tsbvfd{display:flex;justify-content:center}
